body
{
  background-color: #FF7900;
}

.bgimage
{
    background-image: url(4.jpg);
    background-size:cover;
    height:100%;
    background-attachment: fixed;
}

.bgimage2
{
    background-image: url(IMG_0033%20kopia2%20kopia.jpg);
    background-position: top;
    background-size:cover;
    background-attachment: fixed;
}

.heading
{    
    padding-left: 40px;
    padding-top: 237px;
    padding-bottom: 130px;
}

.heading1
{
    font-family: "Anton", sans-serif;
    font-size: 40px;
    color: white;
    padding-top: 200px;
    line-height: 25px;
}

.heading2
{
    font-family: "Anton", sans-serif;
    font-size: 25px;
    color: white;
    line-height: 45px;
    padding-top: 50px;
    margin-left: 13px;
}

.additionalpadding
{
    padding-left: 45px;
}

.navbar-default
{
    background: none;
    height: 50px;
    border-bottom-color: transparent;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus 
{
    color: #FF0000;
    font-size: 25px;
}

.navbar-default .navbar-nav > li > a
{
    color: #ffffff;
}

.navbar-nav
{
    font-family: "Anton";
    font-size: 25px;
}

.cart 
{
    overflow:hidden;
    padding:10px 3px;
    background: none;
    text-align: left;
    font-family: "Anton", sans-serif;
    color: white;
    font-size: 25px;
    padding-left: 30px;
    height: 70px;
}

a:hover
{
    color: #FF0000;
    text-decoration: none;
}

.logo
{
    vertical-align: top; 
}

h2
{
    font-weight: normal;
}

h3
{
    font-weight: normal;
    color: white;
    font-family: "Work Sans";
    font-size: 35px;
}

p
{
    font-family: "Work Sans";
    color: white;
    line-height: 30px;
    font-size: 20px;
    font-weight:normal;
}

a 
{
    color: #ffffff;
    text-decoration: none;
}

.smallboxes
{
    border: 2px solid;
    border-color: white;
    width: 35px;
    height: 35px;
    margin-top: 45px;
    margin-left: 15px;
}
.smallboxes:active
{
    border: 2px solid;
    background-color: #613366;
    border-color: white;
    width: 35px;
    height: 35px;
    margin-top: 45px;
    margin-left: 15px;
}

.smallboxpadding
{
    margin-left: -10px;
}
.smallboxColor
{
    width: 35px;
    height: 35px;
    margin-top: 45px;
    margin-left: 15px;
    background: #460d50;
}
.bigboxes
{
    font-family: "Work Sans";
    color: white;
    font-weight: normal;
    font-size: 25px;
    list-style: none;
    margin-top: 30px;
}

.bigboxespadding
{
    padding-top: 100px;
}

.box  
{
    background-color: #F4550F;
    height: 180px;
    padding: 20px;
}
.boxColor {
    background-color: #613366;
    height: 180px;
    padding: 20px;
}

.box:active
{
    background-color: #613366;
    height: 180px;
    padding: 20px;
}

.interests
{
    font-family: "Work Sans";
    color: white;
    line-height: 80px;
    font-size: 25px;
    font-weight: normal;
    list-style: none;
    margin-top: 23px;
    margin-left: -20px;
}

.nowrap 
{
    white-space: nowrap;
}

.subheading1
{
    margin-left: 13px;
}

.subheading2
{
    margin-left: -13px;
    margin-bottom: -50px;
}

.subheading3
{
    margin-left: -25px;
}

.portfoliopic1
{
    padding-top: 100px;
}

.portfoliopic2
{
    padding-top: 30px;
    padding-bottom: 100px;
}

.endofpage
{
    padding-top: 200px;
    padding-bottom: 50px;
}

.logopic
{
    margin-left: 13px;
    margin-bottom: 70px;
    height: 30px;
}

.adress
{
    font-family: "Work Sans";
    color: white;
    line-height: 23px;
    font-size: 13px;
    font-weight:normal;
}

.icons
{
    padding-top: 0px;
}

span.highlight 
{
    background-color: #FF0000;
}

span.highlight2
{
    background-color: #F4550F;
}

section
{
    height: 100px;
   
}

.Step2section
{
    background-color: #FF7900;
}





@media screen and (max-width: 320px) 
{
    .heading
    {
        font-size: 40px;
        margin: 0px;
    }
}

/*viscom section*/
#viscom {
    display: none;
}